@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0D0D0D;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow: hidden; /* Важно, чтобы не было прокрутки страницы за пределами сторис */
}